/* Styles CSS */
body {
    margin: 0px;
}

.banner {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    background-color: #4E0273;
}

.container {
    text-align: center;
    width: 600px;
    margin: auto;
}

#capeta {
    font-family: 'Pangolin', cursive;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    background-color: #F99200;
}

.container input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    background-color: #4E0273;
}
.container input:hover {
    background-color: #613C73;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #4E0273;
}

.footer a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}
